<footer class="footer fixed-bottom py-4" >
  <div class="container text-center">
    <small>Copyright &copy; My Website <%= link_to "admin", "https://its-alpha-blog.herokuapp.com/", class: "text-white" %>
    </small>
  </div>
</footer>
